<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" failOnWarning="true">
    <php>
        <env name="APP_ENV" value="test" force="true" />
        <env name="KERNEL_CLASS" value="App\Kernel" force="true" />
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/units/src</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>tests/functional</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <coverage>
        <report>
            <html outputDirectory="coverage" />
            <text outputFile="php://stdout" showUncoveredFiles="true" />
        </report>
    </coverage>
    <logging>
        <junit outputFile="var/log/phpunit.junit.xml" />
    </logging>
</phpunit>
